## PKT data panel regression model test ##

The first task here is to see what data is available. Lets pull the data into Python to see how it is.

In [1]:
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
from numpy import array
import math
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC, LinearSVC
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
import sklearn
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from datetime import date
from sklearn import datasets
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [2]:
df = pd.read_csv("/Users/suhriddeshmukh/Dropbox (Personal)/Machine Learning Projects/MachineLearningVKT/data/Oct9data.csv")

In [3]:
df.head()

,LOCATION,CountryName,INDICATOR,SUBJECT,MEASURE,CountryYear,TIME,PKT,GDP,RoadNetwork,...,A34,A39,A44,A49,A54,A59,A64,A69,A70,OilPricesGlobal
0,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1970,1970,104210,4.126106e+10,NaN,...,0.061849,0.057353,0.063364,0.061783,0.050962,0.047489,0.038918,0.030020,0.052272,NaN
1,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1971,1971,109610,4.513831e+10,NaN,...,0.062906,0.057573,0.061237,0.060697,0.051658,0.046900,0.039328,0.030441,0.056358,NaN
2,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1972,1972,116155,5.195444e+10,NaN,...,0.064079,0.057923,0.059331,0.059793,0.052454,0.046444,0.039818,0.030922,0.058032,NaN
3,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1973,1973,120295,6.372197e+10,NaN,...,0.065338,0.058373,0.057593,0.059030,0.053326,0.046090,0.040370,0.031446,0.057870,NaN
4,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1974,1974,127763,8.880914e+10,NaN,...,0.066634,0.058873,0.055963,0.058351,0.054233,0.045794,0.040950,0.031991,0.056700,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Data columns (total 29 columns):
LOCATION           874 non-null object
CountryName        874 non-null object
INDICATOR          874 non-null object
SUBJECT            874 non-null object
MEASURE            874 non-null object
CountryYear        874 non-null object
TIME               874 non-null datetime64[ns]
PKT                874 non-null int64
GDP                874 non-null float64
RoadNetwork        405 non-null float64
Population         874 non-null int64
Urbanization       874 non-null float64
HDI                460 non-null float64
A4                 874 non-null float64
A9                 874 non-null float64
A14                874 non-null float64
A19                874 non-null float64
A24                874 non-null float64
A29                874 non-null float64
A34                874 non-null float64
A39                874 non-null float64
A44                874 non-null float64
A49                874 non-null float64
A54                874 non-null float64
A59                874 non-null float64
A64                874 non-null float64
A69                874 non-null float64
A70                874 non-null float64
OilPricesGlobal    645 non-null float64
dtypes: datetime64[ns](1), float64(20), int64(2), object(6)
memory usage: 198.1+ KB

In [5]:
list(df)
df['TIME'].dtype

dtype('int64')

In [6]:
df['TIME'] = pd.to_datetime(df['TIME'], format='%Y')

#df['TIME']= pd.to_datetime(df['TIME'],format='%m/%d/%Y')
#df.index = pd.to_datetime(df.index, format='%Y')
#df['TIME'] = pd.to_datetime(df['TIME'])
#df['TIME']= pd.to_datetime(df['TIME'],format='/%Y')
#df.info
etdata = df.set_index(['CountryName','TIME'])
#etdata = df.set_index(['TIME','CountryName'])
#etdata.head()
#etdata.info
#etdata.dtypes

#print('test')
df['TIME'].dtype

#df['TIME'] = df['TIME'].dt.year
df.TIME.dtype
print(df['TIME'])
etdata.index

0     1970-01-01
1     1971-01-01
2     1972-01-01
3     1973-01-01
4     1974-01-01
5     1975-01-01
6     1976-01-01
7     1977-01-01
8     1978-01-01
9     1979-01-01
10    1980-01-01
11    1981-01-01
12    1982-01-01
13    1983-01-01
14    1984-01-01
15    1985-01-01
16    1986-01-01
17    1987-01-01
18    1988-01-01
19    1989-01-01
20    1990-01-01
21    1991-01-01
22    1992-01-01
23    1993-01-01
24    1994-01-01
25    1995-01-01
26    1996-01-01
27    1997-01-01
28    1998-01-01
29    1999-01-01
         ...
844   2012-01-01
845   2013-01-01
846   2014-01-01
847   2015-01-01
848   1990-01-01
849   1991-01-01
850   1992-01-01
851   1993-01-01
852   1994-01-01
853   1995-01-01
854   1996-01-01
855   1997-01-01
856   1998-01-01
857   1999-01-01
858   2000-01-01
859   2001-01-01
860   2002-01-01
861   2003-01-01
862   2004-01-01
863   2005-01-01
864   2006-01-01
865   2007-01-01
866   2008-01-01
867   2009-01-01
868   2010-01-01
869   2011-01-01
870   2012-01-01
871   2013-01-01
872   2014-01-01
873   2015-01-01
Name: TIME, Length: 874, dtype: datetime64[ns]

MultiIndex(levels=[['Australia', 'Austria', 'Belgium', 'Britain', 'Canada', 'China', 'Czech Republic', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'India', 'Italy', 'Japan', 'Korea', 'Netherlands', 'Norway', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'USA'], [1970-01-01 00:00:00, 1971-01-01 00:00:00, 1972-01-01 00:00:00, 1973-01-01 00:00:00, 1974-01-01 00:00:00, 1975-01-01 00:00:00, 1976-01-01 00:00:00, 1977-01-01 00:00:00, 1978-01-01 00:00:00, 1979-01-01 00:00:00, 1980-01-01 00:00:00, 1981-01-01 00:00:00, 1982-01-01 00:00:00, 1983-01-01 00:00:00, 1984-01-01 00:00:00, 1985-01-01 00:00:00, 1986-01-01 00:00:00, 1987-01-01 00:00:00, 1988-01-01 00:00:00, 1989-01-01 00:00:00, 1990-01-01 00:00:00, 1991-01-01 00:00:00, 1992-01-01 00:00:00, 1993-01-01 00:00:00, 1994-01-01 00:00:00, 1995-01-01 00:00:00, 1996-01-01 00:00:00, 1997-01-01 00:00:00, 1998-01-01 00:00:00, 1999-01-01 00:00:00, 2000-01-01 00:00:00, 2001-01-01 00:00:00, 2002-01-01 00:00:00, 2003-01-01 00:00:00, 2004-01-01 00:00:00, 2005-01-01 00:00:00, 2006-01-01 00:00:00, 2007-01-01 00:00:00, 2008-01-01 00:00:00, 2009-01-01 00:00:00, 2010-01-01 00:00:00, 2011-01-01 00:00:00, 2012-01-01 00:00:00, 2013-01-01 00:00:00, 2014-01-01 00:00:00, 2015-01-01 00:00:00]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 0, 5, 10, 15, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]],
           names=['CountryName', 'TIME'])

In [7]:

from linearmodels import PanelOLS
#PanelOLS(etdata.PKT,etdata.CountryYear,entity_effects=True,time_effects=True)
#mod = PanelOLS(etdata.PKT, etdata.GDP, entity_effects=True,time_effects=True)
## 
mod = PanelOLS.from_formula('PKT ~ Urbanization + Population + RoadNetwork + GDP + OilPricesGlobal', data=etdata)
mod = PanelOLS.from_formula('PKT ~ Population + GDP + OilPricesGlobal', data=etdata)
print(mod.fit())
#res = mod.fit(cov_type='clustered', cluster_entity=True)
#print(res)

/anaconda3/lib/python3.6/site-packages/linearmodels/utility.py:496: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                    PKT   R-squared:                        0.9330
Estimator:                   PanelOLS   R-squared (Between):              0.9407
No. Observations:                 346   R-squared (Within):               0.5653
Date:                Sun, Jun 02 2019   R-squared (Overall):              0.9330
Time:                        16:16:20   Log-likelihood                   -4851.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      1187.8
Entities:                          21   P-value                           0.0000
Avg Obs:                       16.476   Distribution:                   F(4,341)
Min Obs:                       3.0000
Max Obs:                       22.000   F-statistic (robust):             28.206
                                        P-value                           0.0000
Time periods:                      22   Distribution:                   F(4,341)
Avg Obs:                       15.727
Min Obs:                       13.000
Max Obs:                       19.000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
Urbanization       -473.29     526.20    -0.8994     0.3691     -1508.3      561.72
Population          0.0062     0.0008     7.8269     0.0000      0.0047      0.0078
RoadNetwork         80.115     164.76     0.4862     0.6271     -243.97      404.20
GDP              2.563e-07  2.027e-08     12.648     0.0000   2.165e-07   2.962e-07
OilPricesGlobal    -2370.2     613.72    -3.8620     0.0001     -3577.3     -1163.0
===================================================================================

In [61]:
from linearmodels import PanelOLS
#from statsmodels.datasets import grunfeld
mod = PanelOLS(etdata.PKT, etdata.GDP, entity_effects=True)
res = mod.fit(cov_type='clustered', cluster_entity=True)

print(mod)
#model  = PanelOLS(df['PKT'],df[['TIME']],time_effects=True)

PanelOLS
Num exog: 1, Constant: False
Entity Effects: True, Time Effects: False, Num Other Effects: 0