## PKT data panel regression model test ##

The first task here is to see what data is available. Lets pull the data into Python to see how it is.

In [34]:
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
from numpy import array
import math
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC, LinearSVC
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
import sklearn
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from datetime import date
from sklearn import datasets
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [35]:
transport_df = pd.read_csv("DataForPython.csv")

In [36]:
transport_df.head()

,LOCATION,CountryName,INDICATOR,SUBJECT,MEASURE,CountryYear,TIME,Unnamed: 7,PKT,Flag Codes,...,A39,A44,A49,A54,A59,A64,A69,A70,CountryArea,OilPricesGlobal
0,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1970,1970,NaN,104210.0,NaN,...,0.057353,0.063364,0.061783,0.050962,0.047489,0.038918,0.030020,0.052272,NaN,NaN
1,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1971,1971,NaN,109610.0,NaN,...,0.057573,0.061237,0.060697,0.051658,0.046900,0.039328,0.030441,0.056358,NaN,NaN
2,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1972,1972,NaN,116155.0,NaN,...,0.057923,0.059331,0.059793,0.052454,0.046444,0.039818,0.030922,0.058032,NaN,NaN
3,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1973,1973,NaN,120295.0,NaN,...,0.058373,0.057593,0.059030,0.053326,0.046090,0.040370,0.031446,0.057870,NaN,NaN
4,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1974,1974,NaN,127763.0,NaN,...,0.058873,0.055963,0.058351,0.054233,0.045794,0.040950,0.031991,0.056700,NaN,NaN

In [37]:
transport_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1837 entries, 0 to 1836
Data columns (total 33 columns):
LOCATION           1837 non-null object
CountryName        1837 non-null object
INDICATOR          1837 non-null object
SUBJECT            1837 non-null object
MEASURE            1837 non-null object
CountryYear        1837 non-null object
TIME               1837 non-null int64
Unnamed: 7         0 non-null float64
PKT                1791 non-null float64
Flag Codes         215 non-null object
GDP                1473 non-null float64
RoadNetwork        779 non-null float64
Area               0 non-null float64
Population         1837 non-null object
Urbanization       1583 non-null float64
HDI                979 non-null float64
A4                 837 non-null float64
A9                 837 non-null float64
A14                837 non-null float64
A19                837 non-null float64
A24                837 non-null float64
A29                837 non-null float64
A34                837 non-null float64
A39                837 non-null float64
A44                837 non-null float64
A49                837 non-null float64
A54                837 non-null float64
A59                837 non-null float64
A64                837 non-null float64
A69                837 non-null float64
A70                837 non-null float64
CountryArea        0 non-null float64
OilPricesGlobal    805 non-null float64
dtypes: float64(24), int64(1), object(8)
memory usage: 473.7+ KB

In [38]:
list(transport_df)

['LOCATION',
 'CountryName',
 'INDICATOR',
 'SUBJECT',
 'MEASURE',
 'CountryYear',
 'TIME',
 'Unnamed: 7',
 'PKT',
 'Flag Codes',
 'GDP',
 'RoadNetwork',
 'Area ',
 'Population',
 'Urbanization',
 'HDI',
 'A4',
 'A9',
 'A14',
 'A19',
 'A24',
 'A29',
 'A34',
 'A39',
 'A44',
 'A49',
 'A54',
 'A59',
 'A64',
 'A69',
 'A70',
 'CountryArea',
 'OilPricesGlobal']

In [39]:
#This is the correct version of the code. Reading in a xlsx file.
dfs = pd.read_excel('CompiledDatav4_fixeddata.xlsx', sheet_name="PassengerKilometresTravelled")
dfs.head()

,LOCATION,CountryName,INDICATOR,SUBJECT,MEASURE,CountryYear,TIME,PKT,GDP,RoadNetwork,...,A34,A39,A44,A49,A54,A59,A64,A69,A70,OilPricesGlobal
0,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1970,1970,104210.0,4.12611e+10,NaN,...,0.061849,0.057353,0.063364,0.061783,0.050962,0.047489,0.038918,0.030020,0.052272,NaN
1,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1971,1971,109610.0,4.51383e+10,NaN,...,0.062906,0.057573,0.061237,0.060697,0.051658,0.046900,0.039328,0.030441,0.056358,NaN
2,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1972,1972,116155.0,5.19544e+10,NaN,...,0.064079,0.057923,0.059331,0.059793,0.052454,0.046444,0.039818,0.030922,0.058032,NaN
3,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1973,1973,120295.0,6.3722e+10,NaN,...,0.065338,0.058373,0.057593,0.059030,0.053326,0.046090,0.040370,0.031446,0.057870,NaN
4,AUS,Australia,PASSTRANSP,ROAD,MLN_PKM,AUS1974,1974,127763.0,8.88091e+10,NaN,...,0.066634,0.058873,0.055963,0.058351,0.054233,0.045794,0.040950,0.031991,0.056700,NaN